<svg
  class="cover"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 10 5"
  width="100%"
  height="100%"
  preserveAspectRatio="none"
>
  <path class="coverPath" d="M 0 5 V 5 Q 5 5 10 5 V 5 z" fill="olive"></path>
</svg>

<button class="btn">btn</button>

<style lang="scss">
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 999;
  }

  .btn {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
  }
</style>

<script>
  import { gsap } from 'gsap';
  const btn = document.querySelector<HTMLButtonElement>('.btn');
  const tl = gsap.timeline();
  let flg = false;
  btn?.addEventListener('click', () => {
    if (flg) return;
    flg = true;
    gsap.set('.coverPath', { attr: { d: 'M 0 5 V 5 Q 5 5 10 5 V 5 z' } });
    tl.to('.coverPath', {
      duration: 0.5,
      attr: { d: 'M 0 5 V 1 Q 5 0 10 1 V 5 z' },
      ease: 'power4.out',
    }).to(
      '.coverPath',
      {
        duration: 0.5,
        attr: { d: 'M 0 5 V 0 Q 5 0 10 0 V 5 z' },
        ease: 'power4.out',

        onComplete: () => {
          gsap.set('.coverPath', { attr: { d: 'M 0 0 V 7 Q 5 7 10 7 V 0 z' } });
          tl.to('.coverPath', {
            duration: 0.5,
            attr: { d: 'M 0 0 V 1 Q 5 0 10 1 V 0 z' },
            ease: 'power4.out',
          }).to(
            '.coverPath',
            {
              duration: 0.5,
              attr: { d: 'M 0 0 V 0 Q 5 0 10 0 V 0 z' },
              ease: 'power4.out',
              onComplete: () => {
                flg = false;
              },
            },
            '-=50%',
          );
        },
      },
      '-=50%',
    );
  });
</script>
